@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


:root {
    --main-padding: 20px;
    --main-margin: 15px;
    --font-family-heading: "Lato", sans-serif;
    --font-family-body: 'Poppins', sans-serif;
    --font-family-name: 'League Spartan', serif;
    --heading-color: #3d3d3d;
    --heading-size: 15px;
    --list-size: 10px;
    --primary-color: #333;
    --secondary-color: #777;
    --subtitle-color: #737373;
}

body {
    font-family: var(--font-family-body);
    padding: var(--main-padding);
    margin: 0;
    background-color: #f0f0f0;
}


.cv-container {
    display: flex;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 794px;
}

.sidebar {
    background-color: #323b4c;
    color: white;
    padding: var(--main-padding);
    width: 274px;
    display: flex;
    flex-direction: column;
    gap: var(--main-margin);
}


.sidebar h3 {
    font-family: var(--font-family-heading);
    margin-bottom: 13px;
    font-size: var(--heading-size);
}

.sidebar ul, .sidebar p {
    font-family: var(--font-family-body);
    line-height: 1.6;
    font-size: var(--heading-size);
}

#contact-section p{
    font-size: var(--list-size);
}

#contact-section a{
    text-decoration: none;
    color: white;
}

#skills-section li{
    font-size: var(--list-size);
    margin-left: -21px;
    margin-top: 8px;
}

#languages-section li{
    font-size: var(--list-size);
    margin-left: -21px;
    margin-top: 8px;
    list-style-type: none;
}

#interests-section li, strong{
    font-size: var(--list-size);
}

#interests-section p{
    font-size: var(--list-size);
    margin-left: 2px;
}

#interests-section li{
    margin-left: -28px;
    margin-top: 20px;
}

.experience-section{
    margin-top: 20px;
}


.main-content {
    padding: var(--main-padding);
    width: 520px;
}

.main-content h3{
    font-size: var(--heading-size);
    font-family: var(--font-family-heading);
    margin-bottom: 13px;
    color: var(--heading-color);
}

.right-heading{
    font-family: var(--font-family-heading);
    margin-top: var(--main-margin);
    color: var(--primary-color);
    font-size: var(--heading-size);
}

.main-content p, .main-content ul {
    font-family: var(--font-family-body);
    color: var(--secondary-color);
    font-size: 10px;
}

.material-icons{
    font-size: 20px!important;
}

.person-name{
    font-family: var(--font-family-name);
    font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 42px;
  margin-top: 60px;
  color: var(--heading-color);
}

.person-designation{
    font-family: var(--font-family-heading);
    font-size: 16px!important;
    margin-top: -15px;
    color: var(--heading-color);
    font-weight: 400;
}

.section-start{
    margin-top: 30px;
    font-size: 10px;
}


.date-range{
    font-weight: 200;
    font-weight: bolder;
    color: var(--subtitle-color);
}

.company-info{
    color: var(--subtitle-color);
}

.position-info{
    color: var(--heading-color);
    font-size: 12px;
    margin-top: 2px;
}


.institution-info{
    color: var(--subtitle-color);
}

.degree-info{
    color: var(--heading-color);
    font-size: 12px;
    margin-top: 2px;
}

.project-title{
    color: var(--heading-color);
    font-size: 12px;
}

.publication-title{
    color: var(--heading-color);
    font-size: 12px;
}

.award-name{
    color: var(--heading-color);
    font-size: 12px;
}

.activity-title{
    color: var(--heading-color);
    font-size: 12px;
}

.custom-title{
    color: var(--heading-color);
    font-size: 12px;
}

.reference-name{
    color: #464a4e;
    font-size: 12px;
    font-weight: 800;
}

.company-name, .position{
    color: #464a4e;

}

.phone, .email{
    color: #464a4e;
    font-size: 8px;
}


.separator {
    height: 1px;
    width: 107%;
    display: flex;
    margin: 10px 0;
    background-color: white;
}

.separator::before, .separator::after {
    content: "";
    flex: 1;
    height: 1px;
}

.separator-black{
    height: 1px;
    width: 100%;
    display: flex;
    margin: 10px 0;
    background-color: #3d3d3d;
}

.align-flex{
    display: flex;
}

.about-me-section{
    margin-top: 84.5px;
}


#references-list{
    display: flex;
    gap: 45px;
}

.contact p {
    display: flex;
    align-items: center; /* Align items vertically centered */
     /* Add some spacing between paragraphs */
    margin-top: 15px;
}

.contact .material-icons {
    margin-right: 20px; /* Space between the icon and text */
    
    color: white; /* Optional: set icon color to match your design */
}


.profile-container {
    position: relative;
    width: 175.45px;
    height: 175.45px;
    margin: 20px auto; /* Center the container */
    border-radius: 50%;
    background-color: rgba(151, 148, 148, 0.5);

}



.profile-image {
    width: 85%; /* Slightly smaller to fit within the ring */
    height: 85%;
    border-radius: 50%; /* Round shape */
    object-fit: cover; /* Ensure proper fit */
    position: absolute;
    top: 7.5%;
    left: 7.5%; /* Center the image inside the ring */
    z-index: 2; /* On top of the ring */
}



@media (max-width: 768px) {
    body{
        margin: 0;
        padding: 0;
    }

    .cv-container{
        width: 560px;
    }
    
    
    .sidebar {
        background-color: var(--primary-color);
        color: white;
        padding: var(--main-padding);
        margin-left: var(--main-margin);
        width: 28%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--main-margin);
        left: -20px;
    }
    .profile-image {
        width: 80%;
        height: 80%;
        border-radius: 50%;
        object-fit: cover;
        z-index: 2;
        position: relative;
        left: 12px;
        top: 11px;
    }

    .about-me-section {
        margin-top: 33.5px;
    }
    
    .profile-container{
        width: 125.45px;
    height: 125.45px;
    }

.email-contact{
    font-size: 7px;
}
    
    #contact-section p{
        font-size: var(--list-size);
    }
    
    #skills-section li{
        font-size: var(--list-size);
        
    }
    
    #languages-section li{
        font-size: var(--list-size);
        margin-left: -36px;
        margin-top: 8px;
    }
    
    #interests-section li, strong{
        font-size: var(--list-size);
    }
    
    #interests-section p{
        font-size: var(--list-size);
        margin-left: -2px;
    }
    .contact .material-icons {
        margin-right: 9px;
        color: white;
        font-size: 17px;
    }
    #contact-section{
      margin-left: -7px;
    }
    #skills-section{
        margin-left: -7px; 
    }
    #interests-section{
        margin-left: -7px; 
    }
    #languages-section{
        margin-left: -7px; 
    }
}